<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
body {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

.container {
  margin-left: 2em;
  margin-top: 3em;
  max-width: 400px;
}

a {
  font-size: 1.3em;
  font-weight: bold;
  color: #ea212e;
  text-decoration: none;
  border-bottom: 3px solid #ea212e;
  line-height: 1.6em;
}
  </style>
</head>
<body>
<div class="container">
  <div><h1>Link not found.</h1></div>
  <div>
    <a href="https://redeemermv.org">You may find what you were looking for at https://redeemermv.org</a>
  </div>
</div>
</body>
</html>
